@font-face {
  font-family: 'gotham black';
  src: url(Gotham-Black.otf) format("otf");
  font-weight: 700;
}
@font-face {
  font-family: 'gotham bold';
  src: url("Gotham-Bold.otf") format("otf");
  font-weight: 600;
}
@font-face {
  font-family: 'gotham lite';
  src: url("Gotham-XLight.otf") format("otf");
  font-weight: 300;
}
@font-face {
  font-family: 'gotham medium';
  src: url("Gotham-Medium.otf") format("otf");
}
