

*, html, body {
  font-family: 'gotham medium', sans-serif;
  color: #233a6e;
  font-size: 16px;
  font-family: 'Gotham', sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  width: 571px;
  background: none;
  box-shadow: none;
}

.leaflet-container a.leaflet-popup-close-button {
  top: 30px;
}

.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  margin-bottom: -16px;
  margin-left: -21px;
}

.top-arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  display: none;
}

img.logo {
  width: 220px;
}
.site-header {
  padding-top: 40px;
}
.menu-wraper {
  display: flex;
  align-items: center;
  padding-left: 100px;
  justify-content: space-between;
  height: 90px;
}
.menu-wraper ul {
  list-style-type:none;
  padding-left: 0;
  display: flex;
  gap: 8px;
}
.menu-wraper ul li  {
  font-family: 'Gotham', sans-serif;
  color: #233a6e;
}

.menu-wraper ul li a {
  font-family: 'Gotham', sans-serif;
  color: #233a6e;
  text-decoration: none;
}

#form-feedback {
  display: block !important;
  width: auto;
}




.menu-wraper ul li a img {
  transition: 300ms;
}

.menu-wraper ul li a img:hover {
  transform: scale(1.05);
}

.top-banner {
  background-image: url(../img/top-banner-bg.png);
  background-position: top left;
  background-repeat: repeat-x;
  text-align: center;
  padding-top: 20px;
}

.responsive {
  max-width: 100%;
}

.blue-card {
  background-color: #233a6e;
  padding-top: 40px;
  flex: 1;
  padding-left: 47px;
  padding-right: 47px;
  position: relative;
  padding-bottom: 50px;
}

.cards-container {
  display: flex;
  width: 1125px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  gap: 4px;
}

.blue-card h3 {
  color: #fff;
  font-size: 20px;
  font-family: 'Gotham Light', sans-serif;
  margin-bottom: 30px;
}

.blue-card h3 span {
  color: #fff;
  font-size: 20px;
  position: relative;
}

.blue-card h3 span::before {
  position: absolute;
  content: "";
  background-color: #b29873;
  width: 81px;
  height: 8px;
  left: 0;
  top: -14px;
}

.blue-card p {
color: #fff;
font-family: 'Gotham', sans-serif;
}

.spoon {
  position: absolute;
  right: -59px;
  bottom: 0px;
  transform: rotate(318deg);
}

.trhee-cols {
  background-image: url(../img/prato1.png);
  background-position: left center;
  background-repeat: no-repeat;
}

.banner-2 {
  margin-top: 60px;
  background-image: url(../img/banner-verde.png);
  background-position: top left;
  background-repeat: repeat-x;
  padding-top: 20px;
  
}

.banner2-content {
  width: 1000px;
  max-width: 100%;
  background-image: url(../img/banner-2.jpg);
  height: 857px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 43px;
  padding-left: 48px;
  position: relative;
}

.b2-col {
  width: 400px;
  max-width: 100%;
}

.b2-col h3 {
  color: #fff;
  font-size: 20px;
  font-family: 'Gotham Light', sans-serif;
  margin-bottom: 30px;
}

.b2-col h3 span {
  color: #fff;
  font-size: 20px;
  position: relative;
}

.b2-col h3 span::before {
  position: absolute;
  content: "";
  background-color: #9ebb47;
  width: 81px;
  height: 8px;
  left: 0;
  top: -14px;
}

.b2-col p, .b2-col span {
  color: #fff;
}

.prato2 {
  position: absolute;
  right: -306px;
  bottom: 56px;
}

.b2-bg-spoon {
  background-image: url(../img/colher2.jpg);
  background-position: bottom 29px left 134px;
  background-repeat: no-repeat;
}

.divisor {
  height: 150px;
  width: 100%;
  background-color: #233a6e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divisor h3 {
  color: #fff;
  font-size: 30px;
  font-family: 'Gotham Light', sans-serif;
  margin: 0;
  padding: 0;
}

.divisor h3 span {
  color: #fff;
  font-size: 30px;
  position: relative;
}

.brands {
  background-color: #f2f3f8;
}

.brands, .brands img  {
  max-width: 100%;
  text-align: center;
}

main {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
  width: 100%; 
  display: grid;
  /* Define Auto Row size */
  /*Define our columns */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  grid-gap: 1em;
}

article {
  border-radius: 10px;
  color: #fff;
  border: 1px solid #ccc7c3;
  background-color: #fff;
  text-align: center;
  transition: 300ms;
}

article:hover {
  cursor: pointer;
  transform: scale(1.03) translateY(-10px);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.product img {
  max-width: 100%;
  border-radius: 10px;
}

.product-link {
  background-color: #233972;
  color: #fff;
  text-transform: uppercase;
  border: 0;
  border-radius: 5px;
  font-size: 12px;
  padding: 6px 16px;
}

#map { height: 700px; }

.map-wraper {
  position: relative;
}

#selo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  top: 50%;
  transform: translateY(-50%);
  left: 100px;
}

.fale-conosco{
  padding-top: 90px;
  padding-bottom: 80px;
  background-image: url(../../assets/img/trigo-contato.png);
  background-position: right bottom;
  background-color: #f3f4f9;
  background-repeat: no-repeat;
}

.fale-conosco h3, footer h3, .prod-col {
  text-align: center;
  color: #233a6e;
  font-size: 30px;
  font-family: 'Gotham Light', sans-serif;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.fale-conosco span, footer span {
  color: #233a6e;
  font-size: 30px;
  position: relative;
}

.fale-conosco input, .fale-conosco textarea {
  width: 100%;
  border: 1px solid #233a6e;
  border-radius: 3px;
  height: 40px;
  background-color: #f3f4f8;
  margin-top: 15px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.fale-conosco textarea {
  height: 230px;
}

.fale-conosco button {
  background-color: #233a6e;
  color: #fff;
  border: 0;
  border-radius: 3px;
  padding: 6px 40px;
}

footer {
  text-align: center;
}

footer img {
  max-width: 100%;
}

.center {
  text-align: center;
}


.enderecos {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.enderecos .flexcol {
  flex: 50%;
}

.enderecos .flexcol:first-child {
  display: flex;
  justify-content: flex-end;
}

.separator {
  width: 1px;
  background-color: #d0d0d0;
}

.modal-produtos-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 400ms;
}

.produto-modal {
  border: 1px solid #bb9763;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  width: 70%;
  max-height: 96%;
  overflow-y: auto;
  position: relative;
  display: none;
}

.produto-modal img {
  max-width: 100%;
}

.prod-col {
  width: 50%;
}

.prod-col h3 span, .prod-col h3 {
  text-align: left;
  font-size: 30px;
  color: #000;
}

.prod-table {
  border: 1px solid #a4a5a8;
  border-radius: 2px;
  margin-bottom: 20px;
}

.table-header {
  background-color: #e6e7e9;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-header h4 {
  color: #000;
  margin: 0;
  padding: 0;
}

.table-row {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
}

.table-row.cinza {
  background-color: #f2f2f2;
}

.table-cell {
  color: #000;
}

.table-cell h4 {
  color: #000;
  margin: 0;
}

.infos-adds {
  background-color: #e6e7e9;
  padding: 2px 15px;
}

.infos-adds p{
  text-align: left;
  margin: 0;
  color: #000;
}

.table-row .table-cell {
  flex: 1;
}

.prod-img img {
  max-width: 100%;
}

.bg-verde {
  background-image: url(../img/banner-verde.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 1.5vw;
}

.modal-fechar {
  background-color: #233972;
  color: #fff;
  text-transform: uppercase;
  border: 0;
  font-size: 12px;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  right: 10px;
  top: 10px;
  transition: 300ms;
}

.relative {
  position: relative;
}

.modal-fechar:hover {
  transform: scale(1.1);
}

.prato-1 {
  position: absolute;
  left: -50px;
  top: 0;
}

.prato-2 {
  width: 1245px;
  height: 824px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}


.prato2bg {
  position: absolute;
  bottom: 52px;
  right: -23%;
}

@media only screen and (max-width: 1245px) {
  .prato-2 {
    width: auto;
    height: auto;
  }
}


@media only screen and (max-width: 1800px) {
  .prato-1 {
    display: none;
  }
}


@media only screen and (max-width: 800px) {
  .prato2bg {
    display: none;
  }
  .enderecos {
    flex-direction: column;
  }
  .enderecos .flexcol {
    flex: 100%;
  }
  br {
    display: none;
  }

  #selo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    top: 91%;
    transform: translateY(-50%);
    left: 15px;
    width: 100px;
  }
  .top-arrow {
    display: block;
  }
}

@media only screen and (max-width: 800px) {
  .leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
    margin-bottom: 0px;
    margin-left: 0;
}
  .leaflet-popup-content-wrapper, .leaflet-popup-tip {
    width: 300px;
  }
  .leaflet-popup-content-wrapper img {
    max-width: 100%;
  }
  .leaflet-container a.leaflet-popup-close-button {
    top: 20px;
    right: 23px;
  }
}




@media only screen and (max-width: 1010px) {
  .cards-container {
    flex-direction: column;
  }
  .enderecos .flexcol {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .enderecos .flexcol:first-child {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

@media only screen and (max-width: 1200px) {
  .menu-wraper {
    padding-left: 0;
  }
  nav {
    display: none;
  }
  .spoon {
    display: none;
  }
  .prato2 {
    display: none;
  }
  .produto-modal {
    width: 90%;
  }
  main {
    grid-template-columns: repeat(auto-fill, minmax(47%, 1fr));
  }
}
